
.fortopcolor {
  background-color: #CFEFEE;
  height: 5%;
  position: relative;
  margin: 0;
  padding: 5% 0 0 0;
  position: relative;
  z-index: 1;
}

.corner {
  text-align: right;
  color: #2A959E;
  margin: 0 10% 1% 0;
}

#whitetop{
	background-color: white;
	height: 90%;
	width: 80%;
	margin: 0 auto;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	clear: both;
	overflow: auto;
	position: relative;
	z-index: 3;
}

#leftlogo {
	height: 120px;
	width: 300px;
	padding: .5%;
	float: left;
	position: relative;
	z-index: 3;
}

#motto {
  margin: 0;
  color: #2A959E;
  background-color: white;
  text-align: right;
  padding: .5%;
  clear: none;
  font-weight: bold;
}

#mainnav {
  list-style-type: none;
  text-align: right;
  padding-bottom: .5%;
  margin: 3% 1% 1% 3%;
}

.mainnavbuttons {
  font-size: 12px;
}

#About {
   background-color:#69C4CC;
   color: white;
   moz-border-radius: 25px;
   -webkit-border-radius:  25px;
   padding: 5px 30px 5px 30px;

}

#Contact {
   background-color:#32cd32;
   color: white;
   moz-border-radius: 25px;
   -webkit-border-radius: 25px;
   padding: 5px 30px 5px 30px;

}

#Blog{
   background-color:#6F308B;
   color: white;
   moz-border-radius: 25px;
   -webkit-border-radius: 25px;
   padding: 5px 30px 5px 30px;
}

#Press{
   background-color:#E9168C;
   color: white;
   moz-border-radius: 25px;
   -webkit-border-radius: 25px;
   padding: 5px 30px 5px 30px;
}


#mainnav li {
	display: inline-block;
	clear: left;
	padding: 2.5%;
	position: relative;
	z-index: 10;
}

.navbar {
	background-color: #F3CECD;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 5%;
	float: left;
	clear: both;
	position: relative;
	z-index: 10;
}

.table {
	display: in-line;
	margin: 0 auto; 
}

.navbar ul {
	list-style-type: none;
	padding: 2.5%;
	margin: 0 10% 0 10%;
	clear: both;
}

.navbar ul li {
	display: inline;
	padding: 5%;
}

.forbottomcolor {
	background-color: #69C4CC;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	clear: both;
	position: relative;
	z-index: 1;
}

.container {
	display: block;
	text-align: left;
	padding: 0;
	margin: 0 auto;
	height: 700px;
	width: 80%;
	background-color: white;
	border-radius: 15px;
	position: relative;
	z-index: 3;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.info {
	display: inline-block;
	margin-top: 5%;
	margin-left: 1%;
	width: 42%;
	padding: 1% 0% 2% 0%;
	text-align: left;
	color: #32cd32;
	font-weight: 100px;
}

#smallOwl {
	float: left;
}

.firstline {
	font-size: 16px;
	font-weight: bold;
	width: 75%;
	margin: 5%;
}

.secondline {
	color: #2A959E;
	width: 80%;
	margin: .5%;
	text-align: left;
	float: left;
	font-weight: 100px;
}

#shopNow {
	width: 125%;
	height: 25%;
	overflow: auto;
}

.wrapper {
	display: inline-block;
	width: 45%;
	height: 70%;
	padding: 0 2.5% 0 2.5%;
	margin: 5% 2.5% 5% 2.5%;
	float: right;
	vertical-align: 
	position: relative; 
	right: 10px; 
}

#twins {
	display: inline;
	float: right;
	position: relative;
	overflow: auto;
	width: 100%
	height: 33%;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#triplets {
	width: 100%
	height: 33%;
	display: inline;
	float: right;
	position: relative;
	margin: 1.5%;
}

#quads {
	width: 100%
	height: 33%;
	display: inline;
	float: right;
	position: relative;
	margin: 1.5%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
}

#damntree { /*... positioning????? */
	position: relative;
	float: right;
	display: inline-block;
}

.socialfoot {
	position: relative;
	clear: both;
	margin: 2.5% 6% 2.5% 6%;
	/*border: 5%;
	border-image-source: "/images/homepage/dotted_line_44x9.png";
    border-image-repeat: repeat; How do I get this to look like the page?*/
}

.socimg {
	padding: 0 2% 0 2%;
}

.footerbg {
	background-color: #69C4CC;
	margin:0 auto;
	text-align: center;
}

.mainfooter ul {
	list-style-type: none;
	display: inline-block;
	left-margin: 10%;
	width: 80%;
	padding: 2.5% 0 10% 0;
}

.mainfooter ul li {
	display: inline-block;
	padding: 2px 10px 2px 0;
	margin: 0 auto;
	font-size: 12px;
	color: white;
}

/*-  Dark Teal: #69C4CC
-  Light Blue Text: #D5F1F0
-  Medium Blue Text: #2A959E
-  Light Teal: #CFEFEE
-  Bright Pink: #E9168C
-  Light Pink: #F3CECD 
-  Bright Purple: #6F308B
-  Dark Purple: #6F1549

*/