
#firstword {
	color: #6F308B;
}

#secondword {
	color: #E9168C;
}

.fortopcolor {
  background-color: #CFEFEE;
}

#mainnav {
  list-style-type: none;
}

.navbar {
	background-color: #F3CECD;
	width: 100%;
}

.navbar ul {
	list-style-type: none;
}

.forbottomcolor {
	background-color: #69C4CC;
}

.mainfooter ul {
	list-style-type: none;
}
/*-  Dark Teal: #69C4CC
-  Light Blue Text: #D5F1F0
-  Medium Blue Text: #2A959E
-  Light Teal: #CFEFEE
-  Bright Pink: #E9168C
-  Bright Purple: #6F308B
-  Dark Purple: #6F1549

git add -A < ---- next time

*/